version: "3.8"

services:
  mongo:
    image: mongo:latest
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  api:
    image: rafadockerhub/api_docker_compose:latest
    build: .
    container_name: api_docker_compose
    ports:
      - "3000:3000"
    depends_on:
      - mongo

volumes:
  mongo-data:
